body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(blue, purple); 
}

.login-form {
  background-color:rgb(240, 240, 240); 
  box-shadow: 1px 1px 100px rgb(211, 0, 0);
  border-radius: 20px;
  width: 35%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}